<div class="menu">
  <%= link_to books_path, class: 'menu_link' do %>
    <div class='menu_1'><p><%= t('common.app.book')%></p></div>
  <% end %>
  <%= link_to model_stocks_path, class: 'menu_link' do %>
    <div class='menu_1'><p><%= t('common.app.model_stock')%></p></div>
  <% end %>
</div>
