<div class='operation leaf_operation'>
  <%= link_to leafs_path(group1: @group1), class: 'operation_link' do %>
    <div class='operation_1 leaf_operation_1'>
      <p><%= t('common.button.back')%></p>
    </div>
  <% end %>
</div>

<% debug 'new', 'group1 is set:[' + @group1.to_s + ']' %>

<%= render 'form', leaf: @leaf %>
