<div class="operation">
  <%= link_to model_stocks_path(page: @page), class: 'operation_link' do %>
    <div class="operation_1">
      <%= t('common.button.back')%>
    </div>
  <% end %>
</div>

<% debug 'new', 'page is set:[' + @page.to_s + ']' %>

<%= render 'form', model_stock: @model_stock %>

