// Place all the styles related to the ModelStocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: #fff;
$black: #000;

$mscolor1: #aaf; // mean: purchased
$mscolor2: #88f; // mean: hover
$mscolor3: #66f; // mean: building
$mscolor4: #ddf; // mean: completed(built)
$mscolor5: #ccc; // mean: planning(not purchasing)

.auth {
  margin-top: 10px;
  clear: left;
}

.auth_link{
  text-decolation: none;
  color: $black;
}

.auth_link:visited {
  color: $black;
}

.auth_1 {
  text-align: center;
  width: 48%;
  background-color: $mscolor1;
  margin-left: 1%;
  margin-right: 1%;
  float: left;

  p {
    font-size: 15px;
    line-height: 20px;
  }
}

.auth_1:hover {
  background-color: $mscolor2;
  color: $white;
}

.operation {
  clear: left;
  // debug
  //border: solid 2px $black;
}

.operation_link {
  text-decoration: none;
  color: $black;
  // debug
  //border: solid 2px $black;
}

.operation_link:visited {
  color: $black;
}

.operation_1 {
  text-align: center;
  width: 13%;
  background-color: $mscolor1;
  margin-top: 10px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  float: left;
  // debug
  //border: solid 2px $white;

  p {
    font-size: 15px;
    line-height: 50px;
  }

}

.operation_1:hover {
  background-color: $mscolor2;
  color: $white;
}

.pagination {
  line-height: 30px;
  clear: left;
  padding-top: 10px;
  // debug
  //border: solid 2px $black;


}

.model_stock_link {
  text-decoration: none;
  color: $black;
  }

.model_stock {
  // box
  line-height: 30px;
  background-color: $mscolor1;
  border: solid 2px $mscolor1;
  margin-bottom: 10px;

  // text
  text-align: center;

  // debug
  //border: solid 2px $black;

}

.status_1 { // planning
  border: solid 2px $mscolor5;
  background-color: $mscolor5;
}

.status_2 { // purchased(default)
}

.status_3 { // building
  border: solid 2px $mscolor3;
  background-color: $mscolor3;
}

.status_4 { // completed(built)
  border: solid 2px $mscolor2;
  background-color: $mscolor4;
}

.model_stock:hover {
  border: solid 2px $mscolor2;
  background-color: $mscolor2;
  color: $white;
}

.model_stock_link:visited {
  color: $black;
}

.model_stock_p {
  padding-top: 10px;
  clear: left;
}

.first, .prev, .next, .last, .page {
  padding: 5px;
  line-height: 20px;
  //background-color: $mscolor2;
  // debug
  //border: solid 2px $white;
}

.gap {
  //background-color: $mscolor4;  //default color
}

