#mobile {
  background-color: #fff;
  font-size: 15px;
  min-width: 350px;

.ms_grid {
  float: left;
  padding-bottom: 10px;

  .ms_item {
    height: 53px;
    padding: 3px;
    min-width: 24%;
    float: left;

    .model_stock {
      line-height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0px;
      border-radius: 10px;
    }
  }
}

.b_grid {
  float: left;
  padding-bottom: 10px;

  .b_item {
    height: 53px;
    padding: 3px;
    min-width: 24%;
    float: left;

    .book {
      line-height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0px;
      border-radius: 10px;
    }
  }
}

.s_grid {
  float: left;
  padding-bottom: 10px;

  .s_item {
    height: 53px;
    padding: 3px;
    min-width: 24%;
    float: left;

    .stamp {
      line-height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0px;
      border-radius: 10px;
    }
  }
}

}
